<div id="home-container" dir="ltr">
    <div class="item" id="info">
        <div id="info-content" class="mat-accent">

            <img id="avatar" [src]="avatarUrl" alt="icon">
            <div class="description-container">

                <div class="text">
                    <h1 class="title">BitchBot</h1>
                    <p class="description-text">Fun Discord bot with moderation and utility tools like reminders,
                        starboard, activity tracking and more</p>
                </div>

                <div class="buttons-container">
                    <button mat-raised-button color="primary" class="home-button" (click)="setHrefTo(INVITE_URL)">
                        Invite Me
                    </button>
                    <button mat-raised-button color="primary" class="home-button" id="repo-button"
                            (click)="setHrefTo(REPO_URL)">
                        Source
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="item" id="stats">
        <h3 class="title" id="stats-title">Some stats about me</h3>
        <div class="stats-group">
            <section>
                <h5 class="title">Servers</h5>
                <span>{{stats.guilds}}</span>
            </section>

            <span class="spacer"></span>
            <section>
                <h5 class="title">Channels</h5>
                <span>{{stats.channels}}</span> <!--haha now laugh-->
            </section>

            <span class="spacer"></span>
            <section>
                <h5 class="title">Uptime</h5>
                <span *ngIf="stats.uptime.days != 0">{{stats.uptime.days}} days, </span>
                <span>{{stats.uptime.hours}} hours and {{stats.uptime.minutes}} minutes</span> <!--haha now laugh-->
            </section>
        </div>

        <div class="stats-group">
            <section>
                <h5 class="title">Unique users</h5>
                <span>{{stats.users}}</span> <!--haha now laugh-->
            </section>

            <span class="spacer"></span>
            <section>
                <h5 class="title">Commands</h5>
                <span>{{stats.commands}}</span> <!--haha now laugh-->
            </section>
        </div>
    </div>

    <div class="item" id="links">
        <div class="help-container">
            <div class="help-text-container">
                <p class="title">Need help? Have any ideas for the bot? Want to report a bug?</p>
                <p class="title"><a href="https://discord.gg/k2ysVzd">Join our support server</a></p>
            </div>
            <!--<a href="https://discord.gg/k2ysVzd"><img src="https://discordapp.com/api/v7/guilds/693765408787922994/widget.png?style=banner2"/></a>-->
            <iframe id="widget" src="https://canary.discordapp.com/widget?id=693765408787922994&theme=dark"
                    allowtransparency="true"></iframe>
        </div>

        <h3 class="title">Find me on:</h3>
        <div id="links-grid">
            <button mat-raised-button color="primary" class="link-button" (click)="setHrefTo(DBL_URL)">
                Discord Bot List
            </button>
            <button mat-raised-button color="primary" class="link-button" (click)="setHrefTo(DBOTS_URL)">
                Discord Bots
            </button>
            <button mat-raised-button color="primary" class="link-button" (click)="setHrefTo(DISCORDAPPS_URL)">
                discordapps.dev
            </button>
            <button mat-raised-button color="primary" class="link-button" (click)="setHrefTo(LIST_MY_BOTS_URL)">
                List My Bot
            </button>
            <!--<button mat-raised-button color="primary" class="link-button">Bots for Discord</button>-->
        </div>
    </div>
</div>

