<div id="home-container">
    <div class="item" id="info">
        <div id="info-content" class="mat-accent">

            <img id="avatar" [src]="avatarUrl" alt="icon">
            <div style="display: flex; flex-direction: column; align-self: center">
                <div class="text">
                    <h1 class="title">BitchBot</h1>
                    <p class="description-text">
                        Fun Discord bot with moderation and utility tools like reminders, starboard, activity tracking
                        and
                        more
                    </p>
                </div>
                <div id="buttons">
                    <button mat-raised-button color="primary" class="home-button" (click)="setHrefTo(INVITE_URL)">
                        Invite Me
                    </button>
                    <button mat-raised-button color="primary" class="home-button" id="repo-button" (click)="setHrefTo(REPO_URL)">
                        Source
                    </button>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="item" id="support">
TODO: Make this features
    </div>-->

    <div class="item" id="links">
<!--        <div style="padding: 6em"></div>-->
        <div class="help-container">
            <div class="help-text-container">
                <p class="help-title">Need help? Have any ideas for the bot? Want to report a bug?</p>
                <p class="help-title"><a href="https://discord.gg/k2ysVzd">Join our support server</a></p>
            </div>
<!--                <a href="https://discord.gg/k2ysVzd"><img src="https://discordapp.com/api/v7/guilds/693765408787922994/widget.png?style=banner2"/></a>-->
                <iframe id="widget" src="https://canary.discordapp.com/widget?id=693765408787922994&theme=dark"  allowtransparency="true"></iframe>
        </div>

        <h3 class="title" id="links-title">Find me on:</h3>
        <div id="links-grid">
            <button mat-raised-button color="primary" class="link-button" (click)="setHrefTo(DBL_URL)">Discord Bot List</button>
            <button mat-raised-button color="primary" class="link-button" (click)="setHrefTo(DBOTS_URL)">Discord Bots</button>
            <button mat-raised-button color="primary" class="link-button" (click)="setHrefTo(DISCORDAPPS_URL)">discordapps.dev</button>
            <button mat-raised-button color="primary" class="link-button" (click)="setHrefTo(LIST_MY_BOTS_URL)">List My Bot</button>
            <!--            <button mat-raised-button color="primary" class="link-button">Bots for Discord</button>-->
        </div>
    </div>
</div>

