@import "~src/queries";

section {
    display: flex;
    align-items: center;
    gap: 2em;

    @media (max-width: $query-max-width) {
        padding: 0.5rem;
    }

    img {
        border-radius: 1rem;
        height: 10rem;
    }

    div {
        display: flex;
        flex-direction: column;
        align-content: flex-start;

        .title {
            text-align: start;
            font-size: 1.8rem;
            font-weight: bold;

            @media (max-width: $query-max-width) {
                text-align: center;
                font-size: 1.3rem;
            }
        }

        span {
            font-size: 1.2em;
        }
    }
}

.left {
    flex-direction: row;
    @media (max-width: $query-max-width) {
        flex-direction: column-reverse;
    }
}

.right {
    flex-direction: row-reverse;

    @media (max-width: $query-max-width) {
        flex-direction: column-reverse;
    }
}
