<select (change)="onGuildSelect($event)" [(ngModel)]="selectedGuild">
  <option>Test</option>
  <!--<option *ngFor="let guild of currentUser.guilds">
    <img width="20px" height="20px" src="{{guild.icon}}"> {{guild.name}}
  </option>-->
</select>

<mat-tab-group mat-align-tabs="center" *ngIf="selectedGuild.name != ''">
  <mat-tab label="Mod mail">
    Mod mail
  </mat-tab>
  <mat-tab label="Warns">
    <app-show-warns [guild]="selectedGuild"></app-show-warns>
  </mat-tab>
  <mat-tab label="Mutes">
    Mutes
  </mat-tab>
</mat-tab-group>
