<mat-toolbar id="main-toolbar" [color]="navbarColor" class="mat-elevation-z5" *ngIf="!hideToolbar">
    <mat-toolbar-row>
        <div id="icon-container">
            <img class="toolbar-icon" src="assets/icon.webp" alt="icon" routerLink="/">
        </div>

        <button mat-button class="navbar-button" id="first-button" routerLink="commands">Commands</button>
        <button mat-button class="navbar-button" (click)="navigateToInvite()">Invite</button>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
