@import "src/colors";

$bg-primary: #23232e;
$bg-secondary: #141418;

#dashboard-container {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    background-color: $bg-primary;
    height: 100%;
}

.navbar-nav {
    list-style: none;
    padding: 0.5em;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navbar-nav a:active, a:focus {
    outline: 0;
    border: none;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: $text-primary
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: $bg-secondary;
    color: $text-secondary;
}

main {
    margin-left: 5.5rem;
    padding: 1rem;
}
