<div id="container">
    <nav class="navbar">
        <ul class="navbar-nav">
            <!--TODO: Change icons-->
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/mod"><mat-icon>menu</mat-icon> Mod</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/mod"><mat-icon>menu</mat-icon> Reminders</a>
            </li>
        </ul>
    </nav>
    <main id="main-dashboard">
        <router-outlet></router-outlet>
    </main>
    <!--<mat-sidenav-container class="dashboard-sidenav-container">
        <mat-sidenav #snav>
            <mat-nav-list>
                <a mat-list-item routerLink="/dashboard/mod">Mod</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>-->
</div>
