<div id="dashboard-container">
    <nav class="navbar">
        <ul class="navbar-nav">
            <!--TODO: Change icons-->
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/mod"><mat-icon>menu</mat-icon> Mod</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/reminders"><mat-icon>menu</mat-icon>Reminders</a>
            </li>
        </ul>
    </nav>
    <main id="main-dashboard">
        <router-outlet></router-outlet>
    </main>
</div>
