@import "~src/queries";

table {
    width: 100%;

    @media (max-width: $query-max-width) {
        td, th {
            padding: 1.25em;
        }
    }
}

.no-bg {
    background-color: transparent;
}

.commands-container {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;

    .cog-title {
        font-size: 1.5em;
    }
}
