@import '~@angular/material/theming';
@import "colors";
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #191919;
  color: $text-primary
}

@include mat-core();

$dark-theme: mat-dark-theme($dark-primary, $dark-accent);

@include angular-material-theme($dark-theme);

a {
    color: mat-color($mat-blue, 500);
    text-decoration: none;
}

.spacer {
    flex: 1 1 auto;
}
