<mat-form-field id="select-guild-form">
  <mat-label>Guild</mat-label>
  <mat-select [(value)]="selectedGuild" (selectionChange)="onGuildSelect()">
    <mat-option value="{{guild.id}}" *ngFor="let guild of modIn">{{guild.name}}</mat-option>
  </mat-select>
</mat-form-field>


<mat-tab-group id="tab-group" mat-align-tabs="center" *ngIf="selectedGuild">
  <mat-tab label="Mod mail">
    <ng-template matTabContent>Mod mail</ng-template>
  </mat-tab>
  <mat-tab label="Warns">
    <ng-template matTabContent>
      <app-show-warns [guild]="selectedGuild"></app-show-warns>
    </ng-template>
  </mat-tab>
  <mat-tab label="Mutes">
    <ng-template matTabContent>
      Mutes
    </ng-template>
  </mat-tab>
</mat-tab-group>
